<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHome</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/chat-frame.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main class="container mt-4">
    <!-- Thanh tìm kiếm -->
    <form th:action="@{/home/projects}" method="get" class="d-flex gap-2 align-items-center mb-4">
        <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm dự án..." th:value="${keyword}">

        <select name="location" class="form-select">
            <option value="">Khu vực</option>
            <option th:each="loc : ${locations}" th:value="${loc}" th:text="${loc.displayName}" th:selected="${loc == location}"></option>
        </select>

        <select name="type" class="form-select">
            <option value="">Loại hình</option>
            <option th:each="t : ${propertyTypes}" th:value="${t}" th:text="${t.displayName}" th:selected="${t == type}"></option>
        </select>

        <select name="status" class="form-select">
            <option value="">Trạng thái</option>
            <option th:each="s : ${projectStatuses}" th:value="${s}" th:text="${s.displayName}" th:selected="${s == status}"></option>
        </select>

        <button type="submit" class="btn btn-dark">Tìm</button>
    </form>

    <!-- Danh sách dự án -->
    <div class="row">
        <div class="col-md-4 mb-4" th:each="projectEntity : ${projectList}">
            <div class="card">
                <a th:href="@{/projects/{id}(id=${projectEntity.id})}" class="text-decoration-none" style="color: black">
                <img th:src="${projectEntity.images[0].image}" class="card-img-top" alt="Hình ảnh dự án" style="height: 200px; object-fit: cover; width: 100%;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${projectEntity.name}">Tên dự án</h5>
                    <p class="card-text" th:text="${projectEntity.getAddress()}">Địa điểm</p>

                </div>
                </a>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/chat-frame::chat-frame"></div>

<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">
    var username = /*[[${username}]]*/ "guest";
    var socket = new SockJS('http://localhost:8081/ws');
    var stompClient = Stomp.over(socket);
</script>
<script src="/js/chat-frame.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>