<header class="header" th:fragment="header">
    <nav class="navbar">
        <div class="logo" style="margin-right: 80px">
            <a th:href="@{/home}"><i class="fa-solid fa-house" style="font-size: 30px; color: black;"> </i></a>
        </div>
    </nav>

    <div class="form" >
        <div sec:authorize="!isAuthenticated()">
            <ul>
                <li><a th:href="@{/login}">Đăng nhập</a></li>
                <li><a th:href="@{/register}">Đăng ký</a></li>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <ul>
                <li><a th:href="@{/favorites}"><i class="fa-solid fa-heart"></i> Danh sách yêu thích</a></li>
                <li><a th:href="@{/history}"><i class="fa-solid fa-money-check"></i> Lịch sử giao dịch</a></li>
                <li><a th:href="@{/profile}" style="color: black"><i class="fa-solid fa-user"></i> Thông tin cá nhân</a></li>
                <li><span>Xin chào, <span sec:authentication="principal.fullName"></span></span></li>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" action="/logout">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</header>